# IMAGEM PUBLICADA

IMAGE_TAG=latest

# PERFIL DA APLICAÇÃO

SPRING_PROFILES_ACTIVE=homolog

# POSTGRESQL

DB_NAME=api_pedidos_release
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=

# API

API_PORT=8080

# JWT

JWT_SECRET=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
JWT_RENEW_BEFORE_EXPIRATION=300000

# WEBHOOK

FAKE_WEBHOOK_SECRET=