# POSTGRESQL LOCAL
DB_NAME=api_pedidos_homolog
DB_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/api_pedidos_homolog
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
JWT_RENEW_BEFORE_EXPIRATION=300000

# WEBHOOK
FAKE_WEBHOOK_SECRET=