# MONGODB OPERACIONAL
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=api_pedidos_operacional_dev
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTHENTICATION_DATABASE=admin

# JWT
JWT_SECRET=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
JWT_RENEW_BEFORE_EXPIRATION=300000

# WEBHOOK
FAKE_WEBHOOK_SECRET=