# POSTGRESQL LOCAL
DB_NAME=api_pedidos_homolog
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=

# MONGODB OPERACIONAL LOCAL
MONGO_PORT=27017
MONGO_DATABASE=api_pedidos_operacional
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTHENTICATION_DATABASE=admin

# API
API_PORT=8080

# OBSERVABILIDADE
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
JWT_RENEW_BEFORE_EXPIRATION=300000

# WEBHOOK
FAKE_WEBHOOK_SECRET=

# RABBITMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/